/* ==========================================
   A Journey To My Sister's Heart
   Design System v1.0
========================================== */

:root{

    /* Primary Colors */

    --bg-primary:#050816;
    --bg-secondary:#0b1026;
    --bg-card:rgba(255,255,255,.06);

    /* Text */

    --text-main:#ffffff;
    --text-light:#cbd5e1;
    --text-muted:#94a3b8;

    /* Accent */

    --gold:#FFD166;
    --pink:#FF6FB5;
    --purple:#9D4EDD;
    --blue:#5DA9FF;

    /* Glow */

    --glow-purple:0 0 25px rgba(157,78,221,.8);
    --glow-blue:0 0 25px rgba(93,169,255,.8);
    --glow-gold:0 0 25px rgba(255,209,102,.7);

    /* Radius */

    --radius:20px;

    /* Transition */

    --transition:.4s ease;

    /* Font */

    --font-main:'Poppins',sans-serif;

}
